# Build output
target/
build/

# Environment file
.env

# Maven wrapper JAR
.mvn/wrapper/maven-wrapper.jar

# Spring Tool Suite / Eclipse
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# IntelliJ IDEA
.idea
*.iws
*.iml
*.ipr

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log
